
@media all and (min-width: 992px) {
    #gallery .product {
        width: 21%;
    }
}
@media (min-width:480px) and (max-width:992px){
    #gallery .product {
        width: 45%;
    }
}
@media all and (max-width:480px) {
     #gallery .product {
        width: 96%;
    }
}
